.taskWrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.isDone {
    text-decoration: line-through white;
}
.taskTitle{
    display: inline-block;
    width: 200px;
    word-wrap: break-word;
    color: white;
}