.taskWrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.isDone {
    opacity: 0.5;
}
.taskTitle{
    display: inline-block;
    width: 200px;
    word-wrap: break-word;
}